name: Pluto TV Colombia Autoupdate
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Descargar Lista y EPG
        run: |
          # 1. Usamos la lista de iptv-org que ya sabemos que te funciona
          curl -s "https://raw.githubusercontent.com/iptv-org/iptv/master/streams/mx_pluto.m3u" -o playlist.m3u
          
          # 2. USAMOS ESTE EPG (Es el más estable para Pluto Latino)
          # Fuente: Matt Huisman (mjh.nz), el estándar de la industria
          curl -L -s "https://i.mjh.nz/PlutoTV/mx.xml" -o epg.xml

      - name: Guardar cambios
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add playlist.m3u epg.xml
          git commit -m "Sincronizado $(date)" || exit 0
          git push
